<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bugly"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".main.SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity
            android:name=".main.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.ChannelActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MemberChannel"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!-- AlarmAlert是被单呼时，本地弹窗 -->
        <activity
            android:name="com.kylindev.pttlib.view.AlarmAlert"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" />
        <activity android:name=".database.SqlTestActivity"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"/>
        <service
            android:name=".main.UserService"
            android:label="UserService" />

        <receiver
            android:name=".main.StaticBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.button1Key" />
                <action android:name="android.intent.action.button2Key" />
            </intent-filter>
        </receiver>
        <!-- ptt功能主服务 -->
        <service
            android:name="com.kylindev.pttlib.service.InterpttService"
            android:exported="true">
            />
        </service>

        <!-- 监听耳机按键 -->
        <receiver
            android:name="com.kylindev.pttlib.utils.MediaButtonIntentReceiver"
            android:enabled="true"
            android:priority="1000">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <!--  -->
        <receiver android:name="com.kylindev.pttlib.utils.AutoRestartServiceReceiver">
            <intent-filter>
                <action android:name="com.kylindev.pttlib.auto_restart_service" />
            </intent-filter>
        </receiver>

        <!-- 监听电话状态，电话期间自动暂停对讲 -->
        <receiver android:name="com.kylindev.pttlib.utils.PhoneCallReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>